<div layout-padding layout="column" class="home layout-padding layout-column">
	<h1 class="md-headline">/r/angular</h1>
	<search-input search-query="$ctrl.searchQuery" on-query-text-updated="$ctrl.onQueryTextUpdated($event)"></search-input>
	<div class="md-body-1">
		<div ng-repeat="card in $ctrl.subredditCards track by card.data.id"
			ng-click="$ctrl.navigateToLink(card.data.url)"
			class="reddit-card-container">
			<div class="reddit-card-img-container">
				<img ng-if="card.data.preview && card.data.preview.images.length > 0"
					src="{{card.data.thumbnail}}"
					class="md-card-image reddit-card-img"
					alt="{{card.data.title}} preview image">
			</div>
			<div>
				<h2>{{card.data.title}}</h2>
				<p>{{card.data.selftext | limitTo: 500}}
					<span ng-if="card.data.selftext.length > 500">...</span>
				</p>
			</div>
			<div>
				<div>Author: {{card.data.author}}</div>
				<div>Posted: {{card.data.created_utc * 1000 | date : "MMM d, yyyy"}}</div>
			</div>
		</md-card>
	</div>
	<div ng-if="!$ctrl.subredditCards || $ctrl.subredditCards.length === 0" class="md-body-1">
		No posts found..
	</div>
</div>